.idea
.vscode
.git
.gitignore
.github

.dockerignore
.env
.env.example
.golangci.yaml
.mockery.yaml

*.test
test
**/*_test.go

coverage.txt

volume/

docker-compose.yaml

LICENSE
README*
Taskfile.yaml